.background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #17287B 0%, #2A49E1 100%);
}

.titles {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button{
    width: 160px;
    height: 50px;
    margin: 0 8px;
}

a.nav:hover{
    transform: scale(1.1);
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 48px;
}

.card{
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, #17287B 0%, #2A49E1 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 24px;
    margin: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    padding-left: 24px;
}